{%block body%}
{{ form_start(form) }}
    {{ form_widget(form) }}
    form_themes: ['bootstrap_4_layout.html.twig']
<div>
    <table>
        <tr>

            <td> {{form_widget(form.nbrParticipement)}} </td>
            <td> {{form_errors(form.nbrParticipement)}} </td>
        </tr>

        </tr>
        <tr>

            <td> {{form_widget(form.idEvent)}} </td>
            <td> {{form_errors(form.idEvent)}} </td>
        </tr>
        </tr>
    </table>
</div>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% endblock %}